@{
    ViewData["Title"] = "Pruebas";
}
<h1>@ViewData["Title"]</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean hendrerit ultricies arcu, ac pulvinar massa faucibus non. Integer id ipsum at tortor iaculis tincidunt vel nec turpis. Maecenas lobortis mauris nec purus lobortis pellentesque. Maecenas id nisl placerat, dignissim mauris ac, semper nunc. Proin non nunc ac lectus sagittis egestas. Maecenas massa odio, tempus vitae efficitur eget, sodales scelerisque erat. Vestibulum consectetur magna id felis rutrum, eget eleifend lacus efficitur. Proin ultricies mi ante. Sed mattis justo eu elementum volutpat. Sed sit amet nisi maximus, eleifend nunc quis, gravida eros. Vivamus imperdiet sollicitudin quam, nec ullamcorper sem sodales vel. Cras tempor mi ac semper dapibus. Curabitur dictum lacus sit amet fermentum ullamcorper. Integer blandit lectus vel lobortis iaculis.</p>